<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718105384999-b25u2pde7rvaqik2fkaoqfqm55ismftc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718105384999-b25u2pde7rvaqik2fkaoqfqm55ismftc</string>
	<key>API_KEY</key>
	<string>AIzaSyBbiCIoTswPeNU772MPxOvFlsJAUMxoWfc</string>
	<key>GCM_SENDER_ID</key>
	<string>718105384999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plateMentor.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-task-96a07</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-task-96a07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718105384999:ios:49d8c2a85349302426d602</string>
</dict>
</plist>